.bp-simple-border-shaded {
    text-shadow: 2px 2px 5px black;
}

.bp-simple-border-stroke {
    text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

.bp-simple-border-neon {
    text-shadow: 0 0 4px black;
}
